In [2]:
import pandas as pd
import pickle
train = pd.read_csv('jun1.csv')
def get_dom(dt):
	return dt.day

def get_weekday(dt):
	return dt.weekday()

def get_hour(dt):
	return dt.hour

def get_year(dt):
	return dt.year

def get_month(dt):
	return dt.month

def get_dayofyear(dt):
	return dt.dayofyear

def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

In [3]:
train.head()

,DateTime,Junction,Vehicles,ID,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-01-11 00:00:00,1,15,20151101001,11,6,0,1,2015,11,2
1,2015-01-11 01:00:00,1,13,20151101011,11,6,1,1,2015,11,2
2,2015-01-11 02:00:00,1,10,20151101021,11,6,2,1,2015,11,2
3,2015-01-11 03:00:00,1,7,20151101031,11,6,3,1,2015,11,2
4,2015-01-11 04:00:00,1,9,20151101041,11,6,4,1,2015,11,2

In [4]:
train = train.drop(['DateTime'], axis=1)
train = train.drop(['Junction'], axis=1)
train = train.drop(['ID'], axis=1)

In [5]:
train.head()

   Vehicles  date  weekday  hour  month  year  dayofyear  weekofyear
0        15    11        6     0      1  2015         11           2
1        13    11        6     1      1  2015         11           2
2        10    11        6     2      1  2015         11           2
3         7    11        6     3      1  2015         11           2
4         9    11        6     4      1  2015         11           2

In [7]:
test = train.drop(['Vehicles'], axis=1)

# class label is stored in target
target = train['Vehicles']

from sklearn.ensemble import RandomForestRegressor

#defining the RandomForestRegressor
m1=RandomForestRegressor()

m1.fit(test,target)

RandomForestRegressor()

In [10]:
m1.predict([[11,6,3,1,2015,11,2]])

C:\Program Files\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([8.53])